# mpnotd config

# paths
#CACHE_DIR=$HOME/.cache/$APP_NAME
#CACHE_DAYS=10
#COVER_CUR=$CACHE_DIR/current.jpg
#STOCK_ART=$CACHE_DIR/stock.jpg

# notifications
#POPUP_ENABLE=false
#POPUP_SUBJECT=" Now Playing"
#POPUP_BODY="%title%\nBy %artist%\nFrom %album%"
#POPUP_DURATION=30
#POPUP_LEVEL=low

# cava
#CAVA_ENABLE=false
#CAVA_CFG=$HOME/.config/cava/config
#CAVA_COLORS=(c23621 25bc24 adad27 492ee1 d338d3 33bbc8 fc391f 31e722 eaec23 5833ff f935f8 14f0f0)

# cover
#COVER_ENABLE=false
#COVER_SIZE=200x200
#COVER_POSITION=+20+20
#COVER_TIME=30

# write
#WRITE_ENABLE=false
#WRITE_FILE=$CACHE_DIR/current.txt
#WRITE_SEP="|"
